@charset "UTF-8";
@import "./fonts.css";
/**
    # Converter CSS

    Content
    1. # Variables ( Colors )
    2. # Reset CSS
    3. # Converter Block

*/

:root {
    --light-gray: #f6f8f9;
    --gray: #dbdde2;
    --dark-gray: #646f79;
    --blue: #1c83c6;
}

/*2. # Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Popins";
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    display: block;
    padding: 13px 20px;
    border: 1px solid var(--gray);
    border-radius: 7px;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    font-size: 1.125rem;
}

input[type="number"]:focus {
    outline: none;
    border: 1px solid var(--dark-gray);
}

/* 3. # Converter Block */

.default-block {
    background-color: var(--light-gray);
}

.converter {
    display: flex;
    padding: 2rem 1rem;
}

.converter__label {
    color: #646f79;
    font-size: 1.5rem;
    font-weight: 600;
}

.converter__sign {
    width: 100px;
    position: relative;
}

.line {
    position: absolute;
    left: calc(50% - 20px);
    display: block;
    height: 7px;
    width: 40px;
    background-color: var(--dark-gray);
    border-radius: 7px;
}

.line:nth-child(1) {
    bottom: 15px;
}

.line:nth-child(2) {
    bottom: 30px;
}

.equal::before {
    content: '';
    width: 70px;
    position: absolute;
}